    </main>
    <footer class="footer">
        <div class="footer-content">
            <div class="footer-section">
                <h4>关于我们</h4>
                <ul>
                    <li><a href="/about">平台介绍</a></li>
                    <li><a href="/team">团队成员</a></li>
                    <li><a href="/contact">联系我们</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h4>教育资源</h4>
                <ul>
                    <li><a href="/kindergarten">幼儿园</a></li>
                    <li><a href="/primary">小学</a></li>
                    <li><a href="/middle">中学</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h4>增值服务</h4>
                <ul>
                    <li><a href="/vip">VIP会员</a></li>
                    <li><a href="/consult">一对一咨询</a></li>
                    <li><a href="/visit">实地探访</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h4>关注我们</h4>
                <div class="social-links">
                    <a href="#wechat"><i class="fab fa-weixin"></i></a>
                    <a href="#weibo"><i class="fab fa-weibo"></i></a>
                    <a href="#douyin"><i class="fab fa-tiktok"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <script src="/js/main.js"></script>
    <% if (locals.customJS) { %>
        <script src="<%= customJS %>"></script>
    <% } %>
</body>
</html> 