@CHARSET "UTF-8";
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{margin:0}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}
audio:not([controls]){display:none;height:0}
[hidden],template{display:none}
a{background-color:transparent}
a:active,a:hover{outline:0}
abbr[title]{border-bottom:1px dotted}
dfn{font-style:italic}
mark{background:#ff0;color:#000}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
img{border:0}
svg:not(:root){overflow:hidden}
hr{box-sizing:content-box;height:0}
pre{overflow:auto}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}
button{overflow:visible}
button,select{text-transform:none}
button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
input{line-height:normal}
input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}
input[type=search]{-webkit-appearance:textfield;box-sizing:content-box}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
legend{border:0;padding:0}
optgroup{font-weight:700}
table{border-collapse:collapse;border-spacing:0}
td,th{padding:0}

@media (min-width:10px){.cc-cookies a.cc-cookie-accept,.cc-cookies a.cc-cookie-decline,.cc-cookies a.cc-cookie-reset,.cc-cookies-error a.cc-cookie-accept,.cc-cookies-error a.cc-cookie-decline,.cc-cookies-error a.cc-cookie-reset,.content .button,.content .button--disabled,.content .button-red,.content .button-red--disabled{display:inline-block;width:auto}
}
.layout-ce--100,.layout-ce--200,.layout-ce--300,.layout-ce--default{margin:0;padding:0}
.layout-ce--100 .csc-textpic-imagewrap,.layout-ce--100 .csc-textpic-imagewrap div,.layout-ce--100 .csc-textpic-imagewrap figure,.layout-ce--200 .csc-textpic-imagewrap,.layout-ce--200 .csc-textpic-imagewrap div,.layout-ce--200 .csc-textpic-imagewrap figure,.layout-ce--300 .csc-textpic-imagewrap,.layout-ce--300 .csc-textpic-imagewrap div,.layout-ce--300 .csc-textpic-imagewrap figure,.layout-ce--default .csc-textpic-imagewrap,.layout-ce--default .csc-textpic-imagewrap div,.layout-ce--default .csc-textpic-imagewrap figure{width:100%}
.layout-ce--100 .csc-textpic-imagewrap .csc-textpic-imagerow div,.layout-ce--100 .csc-textpic-imagewrap .csc-textpic-imagerow figure,.layout-ce--200 .csc-textpic-imagewrap .csc-textpic-imagerow div,.layout-ce--200 .csc-textpic-imagewrap .csc-textpic-imagerow figure,.layout-ce--300 .csc-textpic-imagewrap .csc-textpic-imagerow div,.layout-ce--300 .csc-textpic-imagewrap .csc-textpic-imagerow figure,.layout-ce--default .csc-textpic-imagewrap .csc-textpic-imagerow div,.layout-ce--default .csc-textpic-imagewrap .csc-textpic-imagerow figure{width:auto}
.layout-ce--100 .csc-textpic-caption,.layout-ce--200 .csc-textpic-caption,.layout-ce--300 .csc-textpic-caption,.layout-ce--default .csc-textpic-caption{padding:5px;font-size:.75em;bottom:0;left:0;right:0;color:#ababab}
@media (min-width:10px){.layout-ce--100 .csc-textpic-imagewrap,.layout-ce--100 .csc-textpic-imagewrap div,.layout-ce--100 .csc-textpic-imagewrap figure,.layout-ce--200 .csc-textpic-imagewrap,.layout-ce--200 .csc-textpic-imagewrap div,.layout-ce--200 .csc-textpic-imagewrap figure,.layout-ce--300 .csc-textpic-imagewrap,.layout-ce--300 .csc-textpic-imagewrap div,.layout-ce--300 .csc-textpic-imagewrap figure,.layout-ce--default .csc-textpic-imagewrap,.layout-ce--default .csc-textpic-imagewrap div,.layout-ce--default .csc-textpic-imagewrap figure{width:auto}
}

[list],[type=color],[type=date],[type=datetime-local],[type=email],[type=month],[type=number],[type=password],[type=search],[type=tel],[type=text],[type=time],[type=url],[type=week]{-webkit-appearance:none;border-radius:0}
textarea{-webkit-appearance:none;border-radius:0;overflow:auto}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}
[type=button],[type=image],[type=reset],[type=submit],button{-webkit-appearance:none;-moz-appearance:none;border-radius:0}
figure{margin:0}
a{color:#222;text-decoration:none}
a:hover{color:#222;text-decoration:underline}
a:active,a:focus,a:visited{color:#222}
img{height:auto;max-width:100%;width:100%}
figcaption{padding:5px;font-size:.75em;bottom:0;left:0;right:0;color:#ababab}
li{margin:0 0 10px}
li:last-child{margin:0}
li ul{margin:10px 0 0 15px}
p{margin:0 0 10px}
p:last-child{margin:0}
table.is-border--bottom--dotted td,table.is-border--top--dotted td{padding:5px 0}
table.is-border--top--dotted{border-top:1px dotted #ababab}
table.is-border--bottom--dotted{border-bottom:1px dotted #ababab}
.is-list-style--decimal,.is-list-style--square{display:block;margin:1.12em 0 1.12em 40px;list-style:square}
.is-list-style--decimal li,.is-list-style--square li{display:list-item}
.is-list-style--decimal{list-style-type:decimal}
.is-error,div.is-error--block,input.is-error{color:#ffb517}
.is-help:hover{cursor:help}
input.is-error{border:1px solid #ffb517;background-color:#ededed}
div.is-error{display:none}
div.is-error--block{display:block}
div.is-error--block .fa{font-size:2rem;float:left}
div.is-error--block span{display:block;padding:5px 0 0 40px}
.grid__container,.grid__container--large,.grid__container--medium,.grid__container--small{margin-left:auto;margin-right:auto;min-width:320px;max-width:100%;box-sizing:border-box}
.grid__container--large:after,.grid__container--medium:after,.grid__container--small:after,.grid__container:after{content:" ";display:block;clear:both}
.grid__container--small{width:auto;max-width:320px}
.grid__container--medium{width:auto;max-width:960px}
.grid__container--large{width:auto;max-width:1280px}
.grid__column--100,.grid__column--25,.grid__column--33,.grid__column--50,.grid__column--66,.grid__column--75{float:left;width:100%;box-sizing:border-box}
.grid__column--100.is-full-width-1{margin:0 -15px;padding:0 15px;box-sizing:content-box}
.grid__column--100.is-bg-img{display:table;position:relative;height:400px;min-height:400px;background-repeat:no-repeat;background-position:center center;background-size:cover}
@media (max-width:959px){.grid__column--100.is-full-width-1,.grid__column--100.is-full-window-width-1{margin:0 -15px;padding:0 15px;box-sizing:content-box}
}
html{color:#222;font-family:微软雅黑, Microsoft Yahei,Calibri,Arial,sans-serif;font-size:17px;font-weight:300;line-height:1.2}
@media (min-width:10px){html{font-size:15px}
}
.no-mq html{font-size:15px}
body{line-height:1.2}
@media (min-width:10px){body{line-height:1.3}
}

}
blockquote{font-family:微软雅黑, Microsoft Yahei,Calibri,Arial,sans-serif;font-weight:700;line-height:initial}
b,strong{font-weight:700}
em,i{font-style:italic}
input,label,p{font-size:1rem}

100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}
}
@keyframes fa-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}
100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}
}
.fa-rotate-90{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);-webkit-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg)}
.fa-rotate-180{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg)}
.fa-rotate-270{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);-webkit-transform:rotate(270deg);-ms-transform:rotate(270deg);transform:rotate(270deg)}
.fa-flip-horizontal{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=0);-webkit-transform:scale(-1,1);-ms-transform:scale(-1,1);transform:scale(-1,1)}
.fa-flip-vertical{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);-webkit-transform:scale(1,-1);-ms-transform:scale(1,-1);transform:scale(1,-1)}
:root .fa-flip-horizontal,:root .fa-flip-vertical,:root .fa-rotate-180,:root .fa-rotate-270,:root .fa-rotate-90{-webkit-filter:none;filter:none}
.fa-stack{position:relative;display:inline-block;width:2em;height:2em;line-height:2em;vertical-align:middle}
.fa-stack-1x,.fa-stack-2x{position:absolute;left:0;width:100%;text-align:center}
.fa-stack-1x{line-height:inherit}
.fa-stack-2x{font-size:2em}
.fa-inverse{color:#fff}
.fa-search:before{content:""}




.sprites{display:inline-block;text-align:left;text-indent:-9999px}
body{background-color:#fff}
.header .header__wrap--logo{margin:0 auto 1px;border-top:1px solid #000;border-bottom:15px solid #f50002}
@media (min-width:10px){.header .header__wrap--logo{margin-bottom:0;border:0;border-left:1px solid #ededed;border-right:1px solid #ededed}
.header .header__wrap--navigation{position:relative;background-color:#f50002;box-shadow:0 2px 2px 0 rgba(0,0,0,.5);z-index:2000}
}
.no-mq &.header .header__wrap--logo{margin-bottom:0;border:0;border-left:1px solid #ededed;border-right:1px solid #ededed}
.no-mq &.header .header__wrap--navigation{position:relative;background-color:#f50002;box-shadow:0 2px 2px 0 rgba(0,0,0,.5);z-index:2000}
.logo--header{height:30px;width:86px;padding:3%}
.logo--header a{background:url("../images/logo-mobile.svg") no-repeat;display:block;height:100%;text-indent:-9999px}
.logo--footer{height:30px;width:37px}
.logo--footer a{background:url("../images/logo-footer.svg") no-repeat;display:block;height:100%;text-indent:-9999px}
@media (min-width:10px){.logo--header{height:75px;width:196px;padding:20px 10px}
.logo--header a{background:url("../images/logo.svg") no-repeat}
}
.no-mq &.logo--header{height:75px;width:196px;padding:20px 10px}
.no-mq &.logo--header a{background:url("../images/logo.svg") no-repeat}
.navigation__wrap-mobile-nav{position:absolute;right:3%;top:50%;margin:-.75em 0 0}
.navigation__wrap-mobile-nav .navigation__menu-trigger--mobile,.navigation__wrap-mobile-nav .navigation__search-trigger--mobile{display:inline-block;font-size:1.5em}
.navigation__wrap-mobile-nav .navigation__search-trigger--mobile{margin:0 20px 0 0}
.navigation__language-switch,.navigation__menu-footer,.navigation__menu-main,.navigation__menu-meta{background-color:#ededed}
.navigation__language-switch li,.navigation__menu-footer li,.navigation__menu-main li,.navigation__menu-meta li{margin:0;border-bottom:1px solid #000}
.navigation__language-switch li a,.navigation__menu-footer li a,.navigation__menu-main li a,.navigation__menu-meta li a{display:block;padding:3%;font-weight:700}
.navigation__language-switch li a .fa,.navigation__menu-footer li a .fa,.navigation__menu-main li a .fa,.navigation__menu-meta li a .fa{float:right}
.navigation__menu-main{display:block}
.navigation__menu-main li .navigation__menu-sub{display:none}
.navigation__menu-sub{margin:0}
.navigation__menu-sub li{border:0;border-top:1px dotted #000}
.navigation__menu-sub li a{padding:3% 6%;font-weight:400}
.navigation__language-switch li a,.navigation__menu-meta li a{font-weight:400}
.navigation__language-switch li a span,.navigation__menu-meta li a span{display:inline}
.navigation__menu-footer{background-color:#ababab}
.navigation__menu-footer li{border-bottom:1px solid #fff}
.navigation__menu-footer li a{text-transform:uppercase}
.navigation__menu-footer li.navigation__to-top{display:none}
.navigation__menu-footer--social{float:right}
.navigation__menu-footer--social li{float:left;margin:0 10px 0 0}
@media (min-width:10px){.navigation__menu-breadcrumb,.navigation__menu-footer,.navigation__menu-main{background-color:#f50002}
.navigation__menu-breadcrumb li,.navigation__menu-footer li,.navigation__menu-main li{float:left;margin:0;border:0}
.navigation__menu-breadcrumb li a,.navigation__menu-footer li a,.navigation__menu-main li a{padding:15px 0;color:#fff}
.navigation__menu-main{margin:0 10px}
.navigation__menu-main li{position:relative;margin:0 30px 0 0}
.navigation__menu-main li a{padding:20px 0}
.navigation__menu-main li .navigation__menu-sub{display:none!important}
.navigation__menu-main li:hover a{padding:20px 0 17px;text-decoration:none;border-bottom:3px solid #fff}
.navigation__menu-main li:hover .navigation__menu-sub{display:block!important;margin:0}
.navigation__menu-main li:hover .navigation__menu-sub li{float:none}
.navigation__menu-main li:hover .navigation__menu-sub a{padding:10px 15px;border:0}
.navigation__menu-main li.is-last{margin:0}
.navigation__menu-main .is-active a{padding:20px 0 17px;border-bottom:3px solid #fff}
.navigation__menu-sub{display:block;top:59px;position:absolute;left:0;padding:10px 0;background-color:#fff;box-shadow:0 1px 1px 2px rgba(0,0,0,.5);z-index:1000}
.navigation__menu-sub li a{color:#000;font-weight:400;border:0;white-space:nowrap}
.navigation__menu-sub li a:hover{text-decoration:underline}
.navigation__wrap-desktop-nav{position:absolute;top:-75px;right:0}
.navigation__wrap-desktop-nav a{float:left;padding:10px 20px;border-right:1px dotted #000}
.navigation__wrap-desktop-nav nav{display:inline}
.navigation__wrap-desktop-nav .navigation__language-switch,.navigation__wrap-desktop-nav .navigation__menu-meta{float:left;background:0 0}
.navigation__wrap-desktop-nav .navigation__language-switch li,.navigation__wrap-desktop-nav .navigation__menu-meta li{float:left;border:0;border-right:1px dotted #000}
.navigation__wrap-desktop-nav .navigation__language-switch li a,.navigation__wrap-desktop-nav .navigation__menu-meta li a{padding:10px 20px;border:0}
.navigation__wrap-desktop-nav .navigation__menu-meta .merkliste__wrap{position:relative}
.navigation__wrap-desktop-nav .navigation__menu-meta .merkliste__wrap li{float:none;margin:10px;padding:0 0 10px;background-color:#fff;border:0;border-bottom:1px dotted #000}
.navigation__wrap-desktop-nav .navigation__menu-meta .merkliste__wrap li a{padding:0}
.navigation__wrap-desktop-nav .navigation__menu-meta .merkliste__wrap li:last-child{padding:0;border:0}
.navigation__wrap-desktop-nav .navigation__menu-meta .merkliste__wrap>a{padding:4px 20px 0}
.navigation__wrap-desktop-nav .navigation__menu-meta .merkliste__wrap .merkliste__counter{display:inline-block;margin:2px 0 3px 15px;padding:5px;min-width:20px;height:20px;line-height:20px;text-align:center;border-radius:50%;background-color:#ffb517}
.navigation__wrap-desktop-nav .navigation__language-switch li{border:0}
.navigation__wrap-desktop-nav .navigation__language-switch li a{padding:10px 10px 10px 20px}
.navigation__menu-breadcrumb{display:block;float:left;margin:10px;background:0 0}
.navigation__menu-breadcrumb li a{margin:0 10px 0 0;padding:0;color:#000}
.navigation__menu-breadcrumb li.is-sub a{margin:0 10px}
.navigation__menu-footer li a{padding:10px;font-size:.7rem;color:#000}
.navigation__menu-footer li.navigation__to-top{display:block;cursor:pointer}
.navigation__search-field--desktop.is-desktop{display:inline;position:relative}
}
.grid__column--33.is-last .csc-menu.csc-menu-1{list-style:inherit;list-style-position:outside;margin-left:20px}
address.align-left,div.align-left,h1.align-left,h2.align-left,h3.align-left,h4.align-left,h5.align-left,h6.align-left,p.align-left,td.align-left,th.align-left{text-align:left}
address.align-center,div.align-center,h1.align-center,h2.align-center,h3.align-center,h4.align-center,h5.align-center,h6.align-center,p.align-center,td.align-center,th.align-center{text-align:center}
address.align-right,div.align-right,h1.align-right,h2.align-right,h3.align-right,h4.align-right,h5.align-right,h6.align-right,p.align-right,td.align-right,th.align-right{text-align:right}
address.align-justify,div.align-justify,h1.align-justify,h2.align-justify,h3.align-justify,h4.align-justify,h5.align-justify,h6.align-justify,p.align-justify,td.align-justify,th.align-justify{text-align:justify}
ul .is-list-style--decimal,ul .is-list-style--square{display:block;margin:1.12em 0 1.12em 40px;list-style:square}
ul .is-list-style--decimal li,ul .is-list-style--square li{display:list-item}
ul .is-list-style--decimal{list-style-type:decimal}
ul li.fa-email,ul li.fa-fax,ul li.fa-phone{list-style:none;margin:0 0 10px -40px}
ul li.fa-email:before,ul li.fa-fax:before,ul li.fa-phone:before{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;-webkit-transform:translate(0,0);-ms-transform:translate(0,0);transform:translate(0,0);width:1.2857142857em;text-align:center;margin:0 2px 0 0}
ul li.fa-email:before{content:'\f003'}
ul li.fa-fax:before{content:'\f1ac'}
ul li.fa-phone:before{content:'\f095'}
.content{overflow:hidden}
.content .content__wrap{background-color:#ededed}
.content .content__wrap>div:first-child{padding-bottom:50px}
.content main{padding:0 15px}
.content a{color:#c00;text-decoration:none}
.content a:hover{color:#f50002;text-decoration:underline}
.content a:visited{color:#c00}
.content a:active,.content a:focus{color:#f50002}
.content a .fa{color:#222}
@media (min-width:10px){.content main{padding:0}
}
.no-mq &.content main{padding:0}
.grid__column--100.is-bg-img.is-full-width-1 .caption{display:inline-block;position:relative;top:70px;margin-bottom:90px}
@media (min-width:10px){.grid__column--100.is-bg-img.is-full-width-1 .caption{width:50%}
}
false .grid__column--100.is-bg-img.is-full-width-1 .caption{width:50%}
.grid__column--100.is-bg-img.is-full-width-1 .caption--right{float:right}
.layout-ce--100{padding:15px;background-color:#ededed}
.layout-ce--200{padding:15px;color:#fff;background-color:#f50002}
.layout-ce--200 a,.layout-ce--200 a:hover{color:#fff}
.layout-ce--200 .Tx-Formhandler{color:#222}
.layout-ce--300{padding:15px;background-color:#fff}
.layout-ce--400{color:#fff}
.layout-ce--400 .Tx-Formhandler{color:#222}
.divider hr{height:15px;border:0;background:#f50002}
.is-full-width-1 .divider hr{margin:0 0 120px}
@media (min-width:10px){.is-full-width-1 .divider hr{margin:-60px -160px 60px}
}
.is-full-width-1 .no-mq &.divider hr{margin:-60px -160px 60px}
.grid__column--100.is-bg-img.is-full-width-1,.grid__column--100.is-bg-img.is-full-window-width-1{float:none;position:relative}
.grid__column--100 .is-bg-img .captionContainer,.grid__column--100 .is-full-width-1 .captionContainer,.grid__column--100 .is-full-window-width-1 .captionContainer{background-color:rgba(0,0,0,.4);margin:0 auto;overflow:hidden;position:absolute;bottom:0;left:0;right:0}
.grid__column--100 .is-bg-img .captionContainer figcaption,.grid__column--100 .is-full-width-1 .captionContainer figcaption,.grid__column--100 .is-full-window-width-1 .captionContainer figcaption{position:static;max-width:960px;margin:0 auto;padding:5px;display:block;background:0 0;color:#ababab}
.grid__column--100 .is-full-width-1 .captionContainer figcaption,.grid__column--100 .is-full-window-width-1 .captionContainer figcaption{padding:5px 0}
.csc-textpic{margin-bottom:30px}
.csc-textpic .fontsize-h1,.csc-textpic .fontsize-h2,.csc-textpic .fontsize-h3,.csc-textpic .fontsize-h4,.csc-textpic .fontsize-h5,.csc-textpic .fontsize-h6,.csc-textpic h1,.csc-textpic h2,.csc-textpic h3,.csc-textpic h4,.csc-textpic h5,.csc-textpic h6{margin:0 0 1rem}
.csc-textpic.csc-textpic-above>.csc-textpic-imagewrap+.csc-textpic-text{padding-top:20px}
@media (max-width:960px){.csc-textpic.csc-textpic-intext-left>.csc-textpic-imagewrap,.csc-textpic.csc-textpic-intext-left>.csc-textpic-text,.csc-textpic.csc-textpic-intext-right>.csc-textpic-imagewrap,.csc-textpic.csc-textpic-intext-right>.csc-textpic-text{display:block;margin-right:0;margin-left:0;padding:0;float:none}
.csc-textpic.csc-textpic-intext-left>.csc-textpic-text,.csc-textpic.csc-textpic-intext-right>.csc-textpic-text{margin-top:20px}
}
.content .button--disabled,.content .button--disabled:hover{color:#ababab;border:1px solid #ababab;background-color:#ededed}
.content .button-red{color:#ededed;background-color:#f50002;border:1px solid #ababab}
.content .button-red:hover{color:#ababab;border:1px solid #000;background-color:#c00}
.content .button-red--disabled,.content .button-red--disabled:hover{color:#ababab;border:1px solid #ababab;background-color:#ededed}
[type=color],[type=date],[type=datetime-local],[type=datetime],[type=email],[type=month],[type=number],[type=password],[type=search],[type=tel],[type=text],[type=time],[type=url],[type=week],input,select,textarea{padding:.5em;display:inline-block;border:1px solid #ababab;vertical-align:middle;box-sizing:border-box;width:100%;font-family:微软雅黑, Microsoft Yahei,Calibri,Arial,sans-serif}
[type=color]{padding:.25em .5em}
[type=color]:focus,[type=date]:focus,[type=datetime-local]:focus,[type=datetime]:focus,[type=email]:focus,[type=month]:focus,[type=number]:focus,[type=password]:focus,[type=search]:focus,[type=tel]:focus,[type=text]:focus,[type=time]:focus,[type=url]:focus,[type=week]:focus,input:focus,select:focus,textarea:focus{outline:0}
[disabled]{cursor:not-allowed}
select{height:2.25em;background-color:#fff}
select[multiple]{height:auto}
.form__row{float:left;margin:10px 0;width:100%}
.form__row--high{margin:10px 0}
.form__row--low{margin:5px 0}
.form__row--autoWidth{width:auto;float:left;margin:10px 10px 10px 0}
.form__divider{margin:0 0 20px;padding:0 0 30px;border-bottom:1px dotted #ababab}
[type=text].form__search-field{border:1px solid #000}
[type=submit].form__submit{padding:.5em;font-weight:700;text-transform:uppercase;border:1px solid #000;color:#fff;background-color:#000}
.content [type=button]{color:#fff;background-color:#0FA311}
.content [type=button]:hover{border:1px solid #666;color:#fff;background-color:#11BB15}
fieldset{clear:both;margin:0;padding:0;border:0}
legend{display:block;float:left;margin:0 0 .5em;width:100%;font-family:微软雅黑, Microsoft Yahei,Calibri,Arial,sans-serif;font-weight:700;font-size:1.3rem;line-height:initial}
[type=checkbox],[type=radio]{display:block;float:left;margin:3px 0 0;width:1em;height:1em}
[type=checkbox]+label,[type=radio]+label{display:block;padding-left:20px}
.form--contact label{display:block;margin:0 0 5px}
.form--contact [type=radio]+span{display:block;margin:1px 0 0 20px}
.form--contact select{height:2.3em}
@media (min-width:10px){[type=text].form__search-field{float:left;width:80%}
[type=submit].form__submit{width:20%}
}
label{font-family:微软雅黑, Microsoft Yahei,Calibri,Arial,sans-serif;display:block;margin:0 0 5px}
.gcb-form-content--infoText{font-family:微软雅黑, Microsoft Yahei,Calibri,Arial,sans-serif;padding:5px 5px 0}
.form__col{margin:10px 0}
@media (min-width:10px){.form__col{margin:0}
}
false .form__col{margin:0}
input.marker__error--field{border-color:#ffb517!important}
p.marker__error--field{color:#ffb517!important}
h3.marker__error,h4.marker__error{color:#ffb517!important;border-color:#ffb517!important;border-width:1px 1px 0!important;border-style:solid!important;border-bottom:1px solid #ffb517!important}

@media (min-width:10px){.ui-tabs .ui-tabs-nav li{width:auto}
.is-full-width-1 .ui-tabs{float:none;margin:0 auto;width:66%;text-align:center}
.is-full-width-1 .ui-tabs .ui-tabs-nav{display:inline-block}
}
.is-full-width-1 .no-mq &.ui-tabs{float:none;margin:0 auto;width:66%;text-align:center}
.is-full-width-1 .no-mq &.ui-tabs .ui-tabs-nav{display:inline-block}
.ui-widget,.ui-widget button,.ui-widget input,.ui-widget select,.ui-widget textarea{font-family:微软雅黑, Microsoft Yahei,Calibri,Arial,sans-serif;font-size:1rem}
.footer{border-top:1px solid #000}
.footer .footer__wrap{background-color:#ababab}
.footer .footer__wrap--social-logo{background-color:#fff}
.footer .footer__wrap--social-logo .footer__logo,.footer .footer__wrap--social-logo .footer__social{float:left;padding:3%;width:25%}
.footer .footer__wrap--social-logo .footer__social{text-align:right;font-size:30px;width:75%}
@media (min-width:10px){.footer{border:0}
.footer .footer__wrap--social-logo{width:auto;background:0 0}
.footer .footer__wrap--social-logo .footer__logo,.footer .footer__wrap--social-logo .footer__social{margin:0;padding:15px 0;width:auto}
.footer .footer__wrap--social-logo .footer__logo{padding:15px 10px;width:150px}
.footer .footer__menu{float:right;margin:0;padding:15px 0;width:auto;background:0 0}
}

body:before{content:'small';display:none}
}
@media (min-width:1280px){body:before{content:'large'}
}
.clearfix:after{visibility:hidden;display:block;font-size:0;content:' ';clear:both;height:0}
* html .clearfix{height:1%}
.clearfix,.is-mobile{display:block}
.is-hidden{display:none}
.is-hidden--important{display:none!important}
.is-hidden--mobile{display:none}
.is-hidden--desktop{display:block!important}
.is-absolute{position:absolute}
.is-relative{position:relative}
.is-float-left{float:left}
.is-float-right{float:right}
.is-text-left{text-align:left}
.is-text-right{text-align:right}
.is-text-center{text-align:center}
.is-first{margin-left:0}
.is-last{margin-right:0;margin-bottom:0}

.is-mobile--important{display:none}
.is-mobile--inline-block{display:none!important}
.is-desktop{display:block}
.is-desktop--important{display:block!important}
.is-desktop--inline-block{display:inline-block}
.is-hidden{display:none}
.is-hidden--mobile{display:block!important}
.is-hidden--desktop{display:none}
}

.css__tooltip-styling{background-color:rgba(34,34,34,.8);color:#9cb63a}
.csc-uploads .csc-uploads-element a img{height:80px;width:60px}




.header .tx-solr{padding:3%;border-bottom:1px solid #000;background-color:#ededed}
.header .tx-solr .tx-solr__q,.header .tx-solr .tx-solr__s{width:70%;box-sizing:border-box;border:1px solid #000;outline:0}
.header .tx-solr .tx-solr__s{width:30%;color:#fff;background-color:#000;font-weight:700;text-transform:uppercase}
.header .tx-solr .fa-search{display:none}

.header .tx-solr .tx-solr__q,.header .tx-solr .tx-solr__s{padding:10px 0 10px 10px;width:150px;box-sizing:border-box;border:0;background-color:transparent}
.header .tx-solr .tx-solr__s{position:absolute;top:0;right:0;width:38px;text-indent:-9999px}
.header .tx-solr .fa-search{display:inline-block;font-family:FontAwesome;width:38px}
.header .tx-solr .fa-search:before{display:inline-block;padding:12px 13px}
}
.content .tx-solr__searchbox{margin:0 -160px 30px;padding:30px 160px;border-bottom:1px solid #ababab}
.content .tx-solr__searchbox .tx-solr__q,.content .tx-solr__searchbox .tx-solr__s{width:65%;box-sizing:border-box;border:1px solid #000;outline:0}
.content .tx-solr__searchbox .tx-solr__s{width:35%;font-weight:700;text-transform:uppercase}
.content .tx-solr__searchbox .fa-search{display:none}

.content .tx-solr__searchbox .tx-solr__s{width:20%}


.footer_weixin
{
	background-image:url('../images/footer_weixin.png');
	width:26px;
	height:26px;
	}
.footer_weixin {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

.button_weixin
{
	background-image:url('../images/button_weixin.png');
	width:26px;
	height:26px;
	}